<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="titulo">APP LISTAR TARJETAS</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <app-crear-tarjeta></app-crear-tarjeta>
        </div>
        <div class="col-lg-6">
            <app-listar-tarjeta></app-listar-tarjeta>
        </div>
    </div>
</div>
<div class="col-lg-12 footer">
    <a href="https://github.com/francisconavarrorodriguez/TarjetaCredito" target="_blank">
    @FranNavarro <i class="fa-brands fa-github"></i>
    </a>    
</div>