<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">Lista de tarjetas</h5> 
        <table class="table">
            <tbody>
                <tr *ngFor="let tarjeta of listaTarjetas">
                    <td>{{tarjeta.titular}}</td>
                    <td>{{tarjeta.numeroTarjeta}}</td>
                    <td>{{tarjeta.fechaExpiracion}}</td>
                    <td><i (click)="editarTarjeta(tarjeta)" class="fa fa-regular fa-pen-to-square text-info"></i> &nbsp;<i (click)="borrarTarjeta(tarjeta.id!)" class="fa fa-solid fa-trash text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
